<?php
global $config;
$config = array();

$config['db_host'] = '';
$config['db_port'] = 3306;
$config['db_user'] = '';
$config['db_pass'] = '';
$config['db_name'] = '';

$config['require_https'] = false;

date_default_timezone_set("Europe/Berlin");
?>